<h2>List of Books</h2>

<ul class="books-container">
{{#each content as |book| }}
   <li>
     <!-- <span {{action 'favoriteClicked' org}} >
       [ Favorite ]
     </span> -->
    {{link-to book.id 'book' book.id}}
   </li>
{{/each}}
</ul>

{{outlet}}
